
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}
nav{
    background-color: #1A0B2E;
    color: white;
    text-align: center;
}
h1 .text-color{
    color: blueviolet;
    background-color: ;
     
}
.logo{
    margin: 30px 200px;
    font-size: 50px;

}
/*  */

ul li {
    margin: 30px;
    padding: 30px;
    /* text-align: center; */
}
.btn{
    margin: auto;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight :700;
    background-color: rgb(180, 68, 68);
}