*{
    margin: 0;
    padding: 0;
     
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
    max-width: 1600px;
    width: 100%;
    overflow-x:hidden;
    /* margin: 0; */
}
nav{
    background-color: #1A0B2E;
    color: white;
    text-align: center;
}
h1 .text-color{
    color: blueviolet;
    background-color: ;
     
}
.logo{
    margin: 30px 200px;
    font-size: 50px;

}
/*  */

ul li {
    margin: 30px;
    padding: 30px;
    /* text-align: center; */
}
.btn{
    margin: auto;
    height: 44px;
    width: 140px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight :400;
    background-image: url(/assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    width: 100%;
}
/* banner */

.banner{
    display: block;
    height: 760px;
    width: 100%;
    background-image:url(/assets/hero-bg.png) ;
}
.box{
   padding: 90px;
    padding-left: 625px;
    position: relative;
    display: inline-block;
}
.img-1{
    
    max-width: 350px;

}
.img-2{
    /* margin: auto; */
    position: absolute;
    /* padding: 90px;
    padding-left: 50px; */
    transform: translate(120px, -260px);
  
    max-width: 200px;
}
main{
    margin: 0;
}
section{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
    
.banner-text{
    text-align: center;
    color: white;
}

.banner-text p{
    font-size: 16px;
    margin: 15px;
}
.btn-2{
    /* margin: 24px  0 ; */
    color: #00FF88;
    text-align: center;
    height: 40px;
    width: 150px;
    border: 1px solid #00FF88;
    border-radius: 20px;
    padding: 5px;
}
/* .btn-2 img{
    height: 20px;
    width: 20px;
    padding: 3px;
    margin: -5px -5px;

} */
.about-text{
    
    height: 222px;
    width: 1200px;
    color: white;
    text-align: center;
    border-bottom: 0.75 solid white;
   
}
 h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.para{
    font-size: 16px;
    font-weight: 100;
    line-height: 2;
    padding-bottom: 20px;


}
section .view{
    border-top: 0.05px solid white;
    width: 240px;
    height: 94px;
    text-align: center;
    padding: 20px;

}
section .view h4{
    font-size: 33px;
    font-weight: bold;
    color: #00FF88;

}
section .view p{
    font-size: 16px;
    font-weight: 100;
    color: white;
}
.container-01{
    display: grid;
    justify-content: center;
    margin: 0 120px ;
    /* padding: 120px 150px; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}
.item{
    color: white;
    border: none;
    border-radius: 20px;
}
.item img{
    height: 60px;
    width: 60px;
    margin: 20px;
    padding: 10px;
}
.item h3{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.item p{
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    line-height: 30px;
}

.curts-1{
    grid-row: span 2;
    background-color: #250D44;

}
.curts-2{
       grid-column: span 2;
       background-color: #250D44;
    
}
.curts-3{
       grid-column: span 2;
       background-color: #250D44;

}
.curts-4{
    grid-column: span 1;
    background-color:#250D44;


}
.container-03{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 120px 120px 120px;
      gap: 19px;
      margin: 0;

}
.episodes{
    color: white;
    background-color: #250D44;
    width:  380px;
    height: 500px ;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
}
.containter-04{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 1200px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    background-color: #250D44;
    color: white;
    padding: 120px;
    padding-bottom: 120px;

}
.containter-04 img{
    
     margin: 10px;
     margin-bottom: 0;
    
}
.containter-04 h2{
    font-size: 32px;
    font-weight: bold;
    padding-left: 40px;
}
.containter-04 p{
    font-size: 16px;
    font-weight: 100;
    padding-left: 40px;
}
.icon{
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    gap: 10px;
    margin-left: 40px;
    margin-top: 20px;
}
footer {
    background-color: #1A0B2E;
    background-image: url(/assets/footer-bg.png);
    color: #FAFAFA;
    margin: 0 auto ;
}
.footer h1{
    padding-top: 120px;
}
.footer-heading{
    padding-top: 120px;
}
.last-item{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}
.last-cards{
    display: flex;
    /* margin: 10px; */
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}

.copy-text{
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #FAFAFA;
}

@media (max-width :780px) {
    nav {

    }
    
    .container-01{
        display: grid;
        grid-template-columns: 1fr;

    }
    
}
