
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
    max-width: 1600px;
}
nav{
    background-color: #1A0B2E;
    color: white;
    text-align: center;
}
h1 .text-color{
    color: blueviolet;
    background-color: ;
     
}
.logo{
    margin: 30px 200px;
    font-size: 50px;

}
/*  */

ul li {
    margin: 30px;
    padding: 30px;
    /* text-align: center; */
}
.btn{
    margin: auto;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight :700;
    background-image: url(/assets/hero-circle.png);
    background-size: cover;
    background-image: fill;
    background-position: center;
    background-repeat: no-repeat;
}
/* banner */

.banner{
    display: block;
    height: 760px;
    width: 100%;
    background-image:url(/assets/hero-bg.png) ;
}
.box{
   padding: 90px;
    padding-left: 625px;
    position: relative;
    display: inline-block;
}
.img-1{
    
    max-width: 350px;

}
.img-2{
    /* margin: auto; */
    position: absolute;
    /* padding: 90px;
    padding-left: 50px; */
    transform: translate(120px, -260px);
  
    max-width: 200px;
}

